<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('../partials/head') -%>
    <link rel="stylesheet" href="/css/register.css" type="text/css" />
  </head>

  <body class="body__register">
    <%- include('../partials/header_products') -%>
    <main class="main__register">
      <div class="cards__container">
        <% products.forEach(function(products){ %> <%- include('./productsCard',
        {products}) %> <% }); %>
      </div>
    </main>
    <%- include('../partials/footer') -%>
  </body>
</html>
