<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <header class="header">
        <div> Icono </div>
    </header>

</head>

<body>
    <main>
    <div class="caja-login"></div>
        <div class="titulo-ingreso">Ingresar</div>
        <form action="/home" method="POST" class="login-form">
            <div>
                <input type="text" required name="Nombre" placeholder="Username">
            </div>
            <div>
                <input type="password" required name="PASSWORD" placeholder="Password">
            </div>
            <button type="submit" name="ingresar">Ingresar</button>
        </form>
</body>
</main>
<footer>

</footer>

</html>