<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="css/login.css" rel="stylesheet">
    <link rel="icon" href="/img/areshop_logo2.svg" type="image/x-icon">

</head>

<body>
    <header>
        <nav class="navbar">
            <img src="/img/areshop_logo2.svg" class="logo2">
            <div class="search">
                <div>
                    <a href="/register" class="head-registro">Registrate</a>
                </div>
            </div>


        </nav>
    </header>
    <main>
        <div class="caja-login"></div>
        <div class="titulo-ingreso">Ingresar</div>
        <form action="/home" method="POST" class="login-form">
            <div>
                <input type="text" required name="Nombre" placeholder="Username" autocomplete="name" class="relleno">
            </div>
            <div>
                <input type="password" required name="PASSWORD" placeholder="Password" autocomplete="current-password" class="relleno">
            </div>
            <button type="submit" name="ingresar">Ingresar</button>
            <div class="forgot-member">
                <a href="/mail" class="Forgot-password">Forgot password?</a>
            </div>
            <div>
                <a href="/register" class="member">Not a member yet?</a>
            </div>
            <div>
                <label class="Recordar Usuario">Recordar Usuario</label>
                <input type="checkbox" class="recordar-usuario">
            </div>
        </form>
      
</body>
</main>
<footer class="footer">
    <div class="footer-addr">
        <h1 class="footer-logo">ARESHOP</h1>
        <h2>Contacto</h2>

        <address>
            <i class="fas fa-map-marker-alt"></i> Siempre viva 742, Springfield || <i class="fas fa-mobile-alt"></i> 11
            1234 5678
            <a class="footer-btn" href="mailto:areshop@gmail.com">Mail: <i class="far fa-envelope"></i> </a>
        </address>

        <div class="social-container">
            <a href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a>
            <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
            <a href="https://www.google.com/intl/es-419/gmail/about/"><i class="fab fa-google-plus"></i></a>
        </div>


    </div>

    <ul class="footer-nav">

        </li>
        <li class="nav-item">
            <h2 class="nav-title">Productos</h2>

            <ul class="nav-ul">
                <li>
                    <a href="#">Mas Vendidos</a>
                </li>

                <li>
                    <a href="#">Tendencias</a>
                </li>
            </ul>
        </li>

        <li class="nav-item">
            <h2 class="nav-title">Nosotros</h2>

            <ul class="nav-ul">
                <li>
                    <a href="#">Envios</a>
                </li>

                <li>
                    <a href="#">Ayuda</a>
                </li>

            </ul>
        </li>
        <li class="nav-item">
            <h2 class="nav-title">Info</h2>

            <ul class="nav-ul">
                <li>
                    <a href="#">Contacto</a>
                </li>

                <li>
                    <a href="#">Privacidad</a>
                </li>

            </ul>
        </li>
    </ul>

    <div class="legal">
        <p>&copy; 2021 Todos los derechos reservados.</p>

        <div class="legal-links">
            <span>Areshop Team</span>
        </div>
    </div>
</footer>

</html>