<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/nav.css">
    <link rel="stylesheet" href="./css/normalize.css">
    <link rel="stylesheet" href="./css/productDetails.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <title>Areshop</title>
    <link rel = "icon" href="/img/areshop_logo2.svg" type = "image/x-icon">

</head>
<body>
    <header>
        <nav class="navbar">
            <img src="/img/areshop_logo2.svg" class="logo2">
            <div class="search">
                <form action="/search" method="POST">
                    <input class="search-input" id=search type="text" placeholder="Buscá tu producto" submit=search>
                    <i class="search-icon fas fa-search"></i>
                </form>
            </div>
            
            <ul class="main-nav" id="js-menu">
                <li>
                    <a href="#" class="nav-links">
                        <i class="far fa-user"></i>
                    </a>
                </li>
                <li>
                    <div class="nav-links">
                        <a href="#">
                            <i class="fas fa-shopping-cart"></i>
                        </a>
                    </div>
                </li>
            </ul>
        </nav>
        <nav class="nav__categories">
            <ul>
                <li>
                    <a class="nav__categories__links">
                        Categorias

                    </a>
                </li>
                <li>
                    <a class="nav__categories__links">
                        Pc

                    </a>
                </li>
                <li>
                    <a class="nav__categories__links">
                        PS4

                    </a>
                </li>
                <li>
                    <a class="nav__categories__links">
                        PS5

                    </a>
                </li>
                <li>
                    <a class="nav__categories__links">
                        Xbox

                    </a>
                </li>
                <li>
                    <a class="nav__categories__links">
                        Wii U

                    </a>
                </li>
                <li>
                    <a class="nav__categories__links">
                        Switch

                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <main class="main-wrapper">
<!-- START PRODUCT DETAILS -->
        <div id="pd__wrapper">
            <div id="pd__container">
                <div id="breadcrumb__wrapper">
                    <div class="breadcrumb__container">
                        <a href="#">Home</a>
                        <span class="bc__span">></span>
                        <a href="#">PC Games</a>
                        <span class="bc__span">></span>
                        <a href="#">Red Dead Redemption 2</a>
                    </div>
                    <div class="breadcrumb__title">Comprar Red Dead Redemption II</div>
                </div>
                    <div class="pd__content">
                <div class="product__img">
                    <img
                    src="/img/rdr2_product_cover.jpg"
                    alt="Red Dead Redemption 2"
                    />
                </div>

                <div class="product__buy">
                    
                    <div class="promotion"><span>OFERTA</span></div>
                    <div class="product__price">
                        <div class="price">
                            <p>$2.356</p>
                        </div>
                        <div class="discount">
                            <span class="off">-15%</span>
                            <div class="off__price">$2.002</div>
                        </div>
                    </div>
                    <div class="pd__rating">
                        <div class="rating"><span>Rating</span></div>
                        <div class="rating__stars">
                            <i class="fas fa-star fpdstar"></i>
                            <i class="fas fa-star fpdstar"></i>
                            <i class="fas fa-star fpdstar"></i>
                            <i class="fas fa-star fpdstar"></i>
                            <i class="fas fa-star fpdstar"></i>
                        </div>
                    </div>
                    <div>
                        <input type="submit" value="Comprar" name="btn__buy">
                    </div>
                    <div class="method__payment">
                        <a href="#">Metodos de pago</a>
                    </div>
                </div>
                </div>
            </div>

            <div id="spec__wrapper">
                <div class="spec__container">
                <div class="spec__menu">
                    <a href="#spec__description">Descripción</a>

                    <a href="#req__description">Requerimientos</a>
                </div>
                <div id="spec__description">
                    <h2>Descripción</h2>
                    <div class="spec__description__content">
                    <p>
                    Red Dead Redemption 2 es un juego de acción y aventura que fue lanzado para Xbox One y PlayStation 4, y que desde 2019 también está disponible para PC. El juego es una precuela de Red Dead Redemption lanzado en 2010 y se centra en la vida del forajido Arthur Morgan. Adéntrate en el juego y experimenta un mundo verdaderamente masivo con una cantidad asombrosa de actividades, interacciones, imágenes hermosas y mucho más. Si alguna vez jugaste a la primera entrega de RDR, es posible que encuentres una serie de referencias en los personajes y eventos de este juego.
                    </p>
                    </div>
                </div>
                <div id="req__description">
                    <h2>Requerimientos</h2>
                    <div class="req__content">

                    <div class="min__req">
                        
                        <div class="item__title"><p>Minimo</p></div>
                    
                        <div class="item"><p>SISTEMA OPERATIVO</p><p>Windows 7 - Service Pack 1 (6.1.7601)</p></div>
                        <div class="item"><p>PROCESADOR</p><p>Intel® Core™ i5-2500K / AMD FX-6300</p></div>
                        <div class="item"><p>MEMORIA</p><p>8 GB RAM</p></div>
                        <div class="item"><p>GRAFICA</p><p>Nvidia GeForce GTX 770 2GB / AMD Radeon R9 280 3GB</p></div>
                        <div class="item"><p>ESPACIO DE DISCO</p><p>150 GB disponible</p></div>
                
                    </div>

                    <div class="max__req">

                        <div class="item__title"><p>Recomendado</p></div>

                        <div class="item"><p>SISTEMA OPERATIVO</p><p>Windows 10 - April 2018 Update (v1803)</p></div>
                        <div class="item"><p>PROCESADOR</p><p>Intel® Core™ i7-4770K / AMD Ryzen 5 1500X</p></div>
                        <div class="item"><p>MEMORIA</p><p>12 GB RAM</p></div>
                        <div class="item"><p>GRAFICA</p><p>Nvidia GeForce GTX 1060 6GB / AMD Radeon RX 480 4GB</p></div>
                        <div class="item"><p>ESPACIO DE DISCO</p><p>150 GB disponible</p></div>
                    
                    </div>
                </div>
            </div>
        </div>
<!-- END PRODUCT DETAILS -->
    </main>
    <footer class="footer">
        <div class="footer-addr">
            <h1 class="footer-logo">ARESHOP</h1>
            <h2>Contacto</h2>

            <address>
                <i class="fas fa-map-marker-alt"></i> Siempre viva 742, Springfield || <i class="fas fa-mobile-alt"></i> 11 1234 5678
                <a class="footer-btn" href="mailto:areshop@gmail.com">Mail: <i class="far fa-envelope"></i> </a>
            </address> 
            
            <div class="social-container">
                    <a href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a>
                    <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
                    <a href="https://www.google.com/intl/es-419/gmail/about/"><i class="fab fa-google-plus"></i></a>
            </div>
            
            
        </div>
        
        <ul class="footer-nav">
            
        </li>
        <li class="nav-item">
            <h2 class="nav-title">Productos</h2>
            
            <ul class="nav-ul">
                <li>
                    <a href="#">Mas Vendidos</a>
                </li>
                
                <li>
                    <a href="#">Tendencias</a>
                </li>
            </ul>
        </li>
        
        <li class="nav-item">
            <h2 class="nav-title">Nosotros</h2>
            
            <ul class="nav-ul">
                <li>
                    <a href="#">Envios</a>
                </li>
                
                <li>
                    <a href="#">Ayuda</a>
                </li>
                
            </ul>
        </li>
        <li class="nav-item">
            <h2 class="nav-title">Info</h2>
            
            <ul class="nav-ul">
                <li>
                    <a href="#">Contacto</a>
                </li>
                
                <li>
                    <a href="#">Privacidad</a>
                </li>
                
            </ul>
        </li>
    </ul>
    
    <div class="legal">
        <p>&copy; 2021 Todos los derechos reservados.</p>
        
        <div class="legal-links">
            <span>Areshop Team</span>
        </div>
    </div>
</footer>
</body>
</html>