<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
    />

    <link rel="stylesheet" href="/css/productDetails.css" />

    <title>Areshop - Red Dead Redemption 2</title>
  </head>
  <body>
    <div id="pd__wrapper">
      <div id="pd__container">
        <div id="breadcrumb__wrapper">
          <div class="breadcrumb__container">
            <a href="#">Home</a>
            <span class="bc__span">></span>
            <a href="#">PC Games</a>
            <span class="bc__span">></span>
            <a href="#">Red Dead Redemption 2</a>
            <span class="bc__span">></span>
          </div>
        </div>
        <div class="pd__content">
          <div class="product__img">
            <img
              src="/img/rdr2_product_cover.jpg"
              alt="Red Dead Redemption 2"
            />
          </div>
          <div class="product__buy">
            <div>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Laudantium, adipisci facilis modi nemo incidunt debitis beatae
                vel aliquam rerum
              </p>
            </div>
            <div>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Laudantium, adipisci facilis modi nemo incidunt debitis beatae
                vel aliquam rerum
              </p>
            </div>
            <div>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Laudantium, adipisci facilis modi nemo incidunt debitis beatae
                vel aliquam rerum
              </p>
            </div>
          </div>
        </div>
      </div>

      <div id="spec__wrapper">
        <div id="spec__container">
          <div class="spec__menu">
            <a href="#">Descripción</a>

            <a href="#">Requerimientos</a>
          </div>
          <div class="spec__description">
            <h2>Descripción</h2>
            <div class="spec__description__content">
              <span class="">America, 1899.</span>
              <p>
                Arthur Morgan and the Van der Linde gang are outlaws on the run.
                With federal agents and the best bounty hunters in the nation
                massing on their heels, the gang must rob, steal and fight their
                way across the rugged heartland of America in order to survive.
                As deepening internal groups threaten to tear the gang apart,
                Arthur must make a choice between his own ideals and loyalty to
                the gang who raised him. Now featuring additional Story Mode
                content and a fully-featured Photo Mode, Red Dead Redemption 2
                also includes free access to the shared living world of Red Dead
                Online, where players take on an array of roles to carve their
                own unique path on the frontier as they track wanted criminals
                as a Bounty Hunter, create a business as a Trader, unearth
                exotic treasures as a Collector or run an underground distillery
                as a Moonshiner and much more. With all new graphical and
                technical enhancements for deeper immersion, Red Dead Redemption
                2 for PC takes full advantage of the power of the PC to bring
                every corner of this massive, rich and detailed world to life
                including increased draw distances; higher quality global
                illumination and ambient occlusion for improved day and night
                lighting; improved reflections and deeper, higher resolution
                shadows at all distances; tessellated tree textures and enhanced
                grass and fur textures for added realism in every plant and
                animal. Red Dead Redemption 2 for PC also offers HDR support,
                the ability to run high-end display setups with 4K resolution
                and beyond, multi-monitor configurations, widescreen
                configurations, quicker frame rates and more.
              </p>
            </div>
          </div>
          <div class="spec__description">
            <h2>Descripción</h2>
            <div class="spec__req__content">
            <p>
              Morgan and the Van der Linde gang are outlaws on the run. With
              federal agents and the best bounty hunters in the nation massing
              on their heels, the gang must rob, steal and fight their way
              across the rugged heartland of America in order to survive. As
              deepening internal groups threaten to tear the gang apart, Arthur
              must make a choice between his own ideals and loyalty tov
            </p>
            </div>
          </div>
      </div>
    </div>
  </body>
</html>
