<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <header class="header">
        <div> Icono </div>
        <div> <a href="/login" class="head-Inicio">Iniciar sesión</a>
            <a href="/register" class="head-registro">Registrate</a>
        </div>
    </header>
</head>

<body>
    <main>
        <div class="titulo-registro">Registrate</div>
        <form action="/home" method="POST" class="registro-form">
            <div>
                <label class="Nombre">NOMBRE</label>
                <input type="text" name="Nombre">
            </div>
            <div>
                <label class="NICKNAME">NICKNAME </label>
                <input type="text" name="NICKNAME">
            </div>
            <div>
                <label class="EMAIL">EMAIL </label>
                <input type="email" name="EMAIL">
            </div>
            <div>
                <label class="EMAIL">EMAIL </label>
                <input type="email" name="EMAIL">
            </div>
            <div>
                <label class="PASSWORD">PASSWORD </label>
                <input type="password" name="PASSWORD">
            </div>
            <button type="submit" name="button">REGISTRAR</button>
        </form>
    </main>
    <footer>

    </footer>
</body>

</html>