<!DOCTYPE html>
<html lang="en">

<head>

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="./css/style.css">
        <link rel="stylesheet" href="./css/nav.css">
        <link rel="stylesheet" href="./css/normalize.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@300&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
        <title>Areshop</title>
        <link rel="icon" href="/img/areshop_logo2.svg" type="image/x-icon">
        <link href="css/login.css" rel="stylesheet">

    </head>

<body>

    <header>
        <nav class="navbar">
            <img src="/img/areshop_logo2.svg" class="logo2">
            <div class="search">
                <div> <a href="/login" class="head-Inicio">Iniciar sesión</a>
                    <a href="/register" class="head-registro">Registrate</a>
                </div>
            </div>


        </nav>
    </header>


    <main>
        <div class="titulo-registro">Registrate</div>
        <form action="/home" method="POST" class="registro-form">
            <div>
                <label class="Nombre">NOMBRE</label>
                <input type="text" name="Nombre">
            </div>
            <div>
                <label class="NICKNAME">NICKNAME </label>
                <input type="text" name="NICKNAME">
            </div>
            <div>
                <label class="EMAIL">EMAIL </label>
                <input type="email" name="EMAIL">
            </div>
            <div>
                <label class="PASSWORD">PASSWORD </label>
                <input type="password" name="PASSWORD">
            </div>
            <button type="submit" name="button">REGISTRAR</button>
        </form>
    </main>
    <footer class="footer">
        <div class="footer-addr">
            <h1 class="footer-logo">ARESHOP</h1>
            <h2>Contacto</h2>

            <address>
                <i class="fas fa-map-marker-alt"></i> Siempre viva 742, Springfield || <i class="fas fa-mobile-alt"></i>
                11 1234 5678
                <a class="footer-btn" href="mailto:areshop@gmail.com">Mail: <i class="far fa-envelope"></i> </a>
            </address>

            <div class="social-container">
                <a href="https://www.google.com/intl/es-419/gmail/about/"><i class="fab fa-google-plus"></i></a>
                <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
                <a href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a>
            </div>


        </div>

        <ul class="footer-nav">

            </li>
            <li class="nav-item">
                <h2 class="nav-title">Productos</h2>

                <ul class="nav-ul">
                    <li>
                        <a href="#">Mas Vendidos</a>
                    </li>

                    <li>
                        <a href="#">Tendencias</a>
                    </li>
                </ul>
            </li>

            <li class="nav-item">
                <h2 class="nav-title">Nosotros</h2>

                <ul class="nav-ul">
                    <li>
                        <a href="#">Envios</a>
                    </li>

                    <li>
                        <a href="#">Ayuda</a>
                    </li>

                </ul>
            </li>
            <li class="nav-item">
                <h2 class="nav-title">Info</h2>

                <ul class="nav-ul">
                    <li>
                        <a href="#">Contacto</a>
                    </li>

                    <li>
                        <a href="#">Privacidad</a>
                    </li>

                </ul>
            </li>
        </ul>

        <div class="legal">
            <p>&copy; 2021 Todos los derechos reservados.</p>

            <div class="legal-links">
                <span>Areshop Team</span>
            </div>
        </div>
    </footer>
</body>

</html>