/* Color palette */
:root {
  --lightblue: #e30428;
  --darkblue: #1d252c;
  --grey: #82869a;
  --lightgrey: #e5e5e5;
  --lightviolet: #e30428;
  --strongviolet: #e30428;
  --fontcolor: #262626;

  --bgcolor: #000326;
  --color1: #262626;
  --color2: rgb(163, 22, 33);
  --color3: #1f7a8c;
  --color4: rgb(219, 34, 42);
}
/* PRODUCT DETAIL WRAPPER */
#pd__wrapper {
  padding: 0.3rem;
  background-color: var(--bgcolor);
  color: #fff;
}
#pd__container {
  padding: 1.6rem;
  display: flex;
  flex-direction: column;
}

/* BREADCRUMB */

#breadcrumb__wrapper {
  margin: 1.3rem 0.6rem;
}
.breadcrumb__container {
  display: flex;
  align-content: center;
  align-items: center;
}
.breadcrumb__container a {
  font-size: 0.8rem;
  line-height: 1.2rem;
  text-decoration: none;
  color: var(--grey);
}
.breadcrumb__container a:hover {
  color: var(--color4);
}
.bc__span {
  font-size: 0.4rem;
  margin: 0px 0.3rem;
  cursor: default;
  display: inline;
  vertical-align: middle;
  color: var(--grey);
}
.breadcrumb__title {
  font-size: 1.3rem;
  font-weight: bold;
  padding: 1rem 0;
}

/* PRODUCT DETAIL CONTENT */
.pd__content {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
/* PRODUCT IMAGES */
.product__img {
  height: 444px;
  flex: 2;
}
.product__img img {
  width: 100%;
  height: 444px;
}
/* PRODUCT */
.product__buy {
  background-color: var(--color1);
  width: 30%;
  border-radius: 26px;
  padding: 0.3rem 0.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.product__buy input[type="submit"] {
  display: block;
  align-self: center;
  width: 90%;
  height: 5.5rem;
  margin: 1rem auto;
  font-size: 1.6rem;
  font-weight: bold;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  border: none;
  border-radius: 3rem;
  background: linear-gradient(var(--color4) 0%, var(--color4) 100%);
  cursor: pointer;
}
.promotion {
  font-size: 1.6rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  border-radius: 3.5rem;
  font-size: 1.3rem;
  line-height: 2.3rem;
  font-weight: bold;
  border: 1px solid #fb8e31;
  color: #fb8e31;
  width: 140px;
  align-self: flex-start;
  margin-left: 2rem;
}
.product__price {
  display: flex;
  align-items: center;
  max-height: 23%;
  justify-content: flex-end;
}
.price {
  font-size: 3rem;
  font-weight: bold;
  width: 40%;
  padding-right: 1rem;
}
.off {
  background: var(--color4);
  border-radius: 3.5rem;
  color: rgb(255, 255, 255);
  font-size: 1.3rem;
  font-weight: bold;
  padding: 0.3rem 0.8rem;
}
.off__price {
  text-decoration: line-through;
  font-size: 1.6rem;
  color: rgb(116, 116, 116);
  opacity: 0.8;
  margin-top: 15px;
}
.discount {
  width: 40%;
}
.pd__rating {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 11%;
  border-top: 1px solid;
  flex-direction: column;
  padding-bottom: 15px;
}
.rating {
  padding-top: 15px;
  padding-bottom: 8px;
  font-size: 1.6rem;
}
.rating__stars {
  font-size: 1.6rem;
  color: #fb8e31;
}
.fpdstar {
  padding: 0.2rem;
}
.method__payment {
  margin: 0 auto;
  padding: 15px;
  justify-content: center;
}
.method__payment a {
  text-decoration: none;
  color: #fff;
}

/* PRODUCT SPEC CONTENT */
#spec__wrapper {
  padding: 1.6rem;
}
.spec__container {
  margin: 0.3rem;
  padding: 0.3rem;
  display: flex;
  flex-direction: column;
}
.spec__menu {
  height: 46px;
  margin: 0.6rem;
  border-bottom: 1px solid rgba(128, 131, 161, 0.15);
}
.spec__menu a {
  font-size: 1.2rem;
  line-height: 1.2rem;
  text-decoration: none;
  vertical-align: middle;
  color: #fff;
  margin-right: 1rem;
}

#spec__description {
  margin-bottom: 1.3rem;
}
#spec__description h2 {
  padding: 1rem;
  font-size: 2rem;
}
.spec__menu a:hover {
  color: var(--lightviolet);
}
.spec__description__content {
  background: rgb(23, 26, 60);
  border-radius: 26px;
  padding: 25px 40px;
}
.spec__description__content p {
  padding: 0;
  font-size: 1.3rem;
  line-height: 2rem;
  letter-spacing: 1px;
}

/* REQUIRED SPEC */
#req__description {
  margin-bottom: 1.3rem;
}
#req__description h2 {
  padding: 1rem;
  font-size: 2rem;
}
.req__content {
  background: rgb(23, 26, 60);
  border-radius: 26px;
  padding: 25px 40px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  gap: 75px;
}
.min__req {
  display: flex;
  flex-flow: column nowrap;
  flex: 50%;
  padding-bottom: 15px;
}
.max__req {
  display: flex;
  flex-flow: column nowrap;
  flex: 50%;
  padding-bottom: 10px;
}
.item__title {
  padding-left: 1.3rem;
  border-bottom: 1px solid #e0e0e0;
}
.item {
  padding: 0 1.9rem;
  border-bottom: 1px solid #e0e0e0;
}

/* MEDIA QUERY*/

@media screen and (min-width: 768px) {
  .breadcrumb__title {
    font-size: 2rem;
    font-weight: bold;
    padding: 15px;
    text-align: center;
  }
  .breadcrumb__container {
    justify-content: flex-start;
    padding: 0.6rem;
  }

  .pd__content {
    align-items: center;
  }
  .product__buy {
    width: 70%;
    padding: 1.6rem 1rem;
    flex-direction: column;
  }

  .req__content {
    flex-flow: column nowrap;
  }
  #req__description h2 {
    margin: 0;
    text-align: center;
  }
  #spec__description h2 {
    padding: 0;
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .breadcrumb__title {
    text-align: left;
  }
  .pd__content {
    flex-direction: row;
  }
  .product__buy {
    width: 30%;
    padding: 0.3rem 0.6rem;
    flex-direction: column;
    justify-content: center;
  }

  .req__content {
    flex-flow: row nowrap;
  }
  #req__description h2 {
    margin: 0;
    text-align: left;
  }

  .min__req {
    flex: 1;
  }
  .max__req {
    flex: 1;
  }
}
