<!DOCTYPE html>
<html lang="es">
  <%- include('head') -%>
  <body>
    <%- include('header') -%>
    <main class="main__index">
      <section class="bestseller__wrapper">
        <div class="cards__container">
          <div class="card__item">A</div>
          <div class="card__item">A</div>
          <div class="card__item">A</div>
          <div class="card__item">A</div>
          <div class="card__item">A</div>
          <div class="card__item">A</div>
        </div>
      </section>
    </main>
    <%- include('footer') -%>
  </body>
</html>
