<!DOCTYPE html>
<html lang="es">
  <%- include('head') -%>
  <body>
    <%- include('header') -%>
    <main class="main__index">
      <section class="bestseller__wrapper">
        <div class="bestseller__title">
          <h2>Lo mas vendido</h2>
        </div>
        <div class="cards__container">
          <div class="card__item">
            <div class="card__img">
              <a href="/productdetails">
                <img src="/img/products/Cyberpunk_cover.jpeg" alt="" />
              </a>
            </div>
          </div>

          <div class="card__item">
            <div class="card__img">
              <a href="/productdetails">
                <img src="/img/products/DMC_cover.jpg" alt=""
              /></a>
            </div>
          </div>

          <div class="card__item">
            <div class="card__img">
              <a href="/productdetails">
                <img src="/img/products/DS3_cover.jpg" alt=""
              /></a>
            </div>
          </div>

          <div class="card__item">
            <div class="card__img">
              <a href="/productdetails">
                <img src="/img/products/GTAV_cover.jpg" alt=""
              /></a>
            </div>
          </div>

          <div class="card__item">
            <div class="card__img">
              <a href="/productdetails">
                <img src="/img/products/MHW_cover.jpg" alt=""
              /></a>
            </div>
          </div>

          <div class="card__item">
            <div class="card__img">
              <a href="/productdetails">
                <img src="/img/products/Tarkov_cover.jpg" alt=""
              /></a>
            </div>
          </div>
        </div>
      </section>

      <section class="bestseller__wrapper">
        <div class="bestseller__title">
          <h2>Lo nuevo</h2>
        </div>
        <div class="cards__container">
          <div class="card__item">
            <div class="card__img">
              <a href="/productdetails">
                <img src="/img/products/Cyberpunk_cover.jpeg" alt="" />
              </a>
            </div>
          </div>

          <div class="card__item">
            <div class="card__img">
              <a href="/productdetails">
                <img src="/img/products/DMC_cover.jpg" alt=""
              /></a>
            </div>
          </div>

          <div class="card__item">
            <div class="card__img">
              <a href="/productdetails">
                <img src="/img/products/DS3_cover.jpg" alt=""
              /></a>
            </div>
          </div>

          <div class="card__item">
            <div class="card__img">
              <a href="/productdetails">
                <img src="/img/products/GTAV_cover.jpg" alt=""
              /></a>
            </div>
          </div>

          <div class="card__item">
            <div class="card__img">
              <a href="/productdetails">
                <img src="/img/products/MHW_cover.jpg" alt=""
              /></a>
            </div>
          </div>

          <div class="card__item">
            <div class="card__img">
              <a href="/productdetails">
                <img src="/img/products/Tarkov_cover.jpg" alt=""
              /></a>
            </div>
          </div>
        </div>
      </section>
    </main>
    <%- include('footer') -%>
  </body>
</html>
