<!DOCTYPE html>
<html lang="es">
  <%- include('head') -%>
  <body>
    <%- include('header') -%>
    <main class="main__index">
      <section class="bestseller__wrapper">
        <div class="bestseller__title">
          <h2>LOS MAS VENDIDOS</h2>
        </div>
        <div class="cards__container">
          <div class="card__item">
            <div class="card__img">
              <a href="/product">
                <img src="/img/products/Cyberpunk_cover.jpeg" alt="" />
              </a>
            </div>
            <div class="card__content">
              <div class="card__title">
                <a href="/product">Ciberpunk 2077 CD-KEY</a>
              </div>
              <span>lorem lorem lorem lorem</span>
              <input type="button" value="Comprar ahora" />
            </div>
          </div>
          <div class="card__item">
            <div class="card__img">
              <a href="/product">
                <img src="/img/products/DMC_cover.jpg" alt=""
              /></a>
            </div>
            <div class="card__content">
              <div class="card__title">
                <a href="/product">Devil May Cry CD-KEY</a>
              </div>
              <span>lorem lorem lorem lorem</span>
              <input type="button" value="Comprar ahora" />
            </div>
          </div>
          <div class="card__item">
            <div class="card__img">
              <a href="/product">
                <img src="/img/products/DS3_cover.jpg" alt=""
              /></a>
            </div>
            <div class="card__content">
              <div class="card__title">
                <a href="/product">Dark Soul III CD-KEY</a>
              </div>
              <span>lorem lorem lorem lorem</span>
              <input type="button" value="Comprar ahora" />
            </div>
          </div>
          <div class="card__item">
            <div class="card__img">
              <a href="/product">
                <img src="/img/products/GTAV_cover.jpg" alt=""
              /></a>
            </div>
            <div class="card__content">
              <div class="card__title">
                <a href="/product">Grand Theft Auto V CD-KEY</a>
              </div>
              <span>lorem lorem lorem lorem</span>
              <input type="button" value="Comprar ahora" />
            </div>
          </div>
          <div class="card__item">
            <div class="card__img">
              <a href="/product">
                <img src="/img/products/MHW_cover.jpg" alt=""
              /></a>
            </div>
            <div class="card__content">
              <div class="card__title">
                <a href="/product">Monster Hunter World CD-KEY</a>
              </div>
              <span>lorem lorem lorem lorem</span>
              <input type="button" value="Comprar ahora" />
            </div>
          </div>
          <div class="card__item">
            <div class="card__img">
              <a href="/product">
                <img src="/img/products/Tarkov_cover.jpg" alt=""
              /></a>
            </div>
            <div class="card__content">
              <div class="card__title">
                <a href="/product">Escape From Tarkov CD-KEY</a>
              </div>
              <span>lorem lorem lorem lorem</span>
              <input type="button" value="Comprar ahora" />
            </div>
          </div>
        </div>
      </section>
    </main>
    <%- include('footer') -%>
  </body>
</html>
