/* START MAIN REGISTER */
.body__register {
    background-color: white ;
}

.main__register {
    width: 100vw;
    height: auto;
    margin: auto;
    background-color: #fff;
}

/* LOGO */
.logo {
    width: 10%;
    display: flex;
    justify-content: left;
}

/* BEST SELLER CONTENT */
.bestseller__wrapper {
    padding: 1rem;
}
.bestseller__title {
    font-size: 1.8rem;
    color: #fff;
    text-align: center;
    font-weight: bold;
    background-color: var(--strongviolet);
    padding: 5px 10px;
    margin-bottom: 15px;
    border-radius: 0 15px 0 15px;
}
/* START CARDS */
.cards__container {
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    gap: 10px;
    align-items: center;
}
.card__item {
    width: 60vw;
    height: auto;
    background-color: #ddd;
    padding: 10px;
    border-radius: 7px;
    box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.75);
}
.card__img {
    height: 300px;
}
.card__img img {
    width: 100%;
    height: 300px;
    border-radius: 6px;
    object-fit: fill;
    object-position: center center;
}
.card__content {
    height: auto;
}
.card__title {
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
    padding: 10px;
}
/* ENDS CARDS */
/* ENDS MAIN REGISTER */

/* MEDIA QUERY*/
@media screen and (min-width: 768px) {
    /* START MAIN REGISTER */
    .main__register {
        width: 100vw;
    }
    .bestseller__title {
        font-size: 1.3rem;
        text-align: left;
    }
    .cards__container {
        display: flex;
        justify-content: space-between;
        flex-flow: row nowrap;
    }
    .card__item {
        height: 280px;
    }
    .card__img {
        height: 210px;
    }
    .card__item img {
        height: 100%;
    }
    .card__title {
        font-size: 1rem;
    }
    /* END MAIN REGISTER*/
}
@media screen and (min-width: 1200px) {
    /* START MAIN REGISTER */
    .main__register {
        width: 80vw;
        height: auto;
        margin: auto;
    }
    .bestseller__wrapper {
        padding: 2rem;
    }
    .bestseller__title {
        font-size: 1.6rem;
        color: #fff;
        padding: 10px 20px;
    }
    .card__item {
        height: 360px;
        transition: 0.5s ease;
    }
    /* HOVER EFFECT IMG*/
    .card__item:hover {
        transform: scale(1.1);
        transition: 0.5s ease;
    }
    /* ENDS HOVER EFFECT IMG*/
    .card__img {
        height: 300px;
    }
    .card__title {
        font-size: 1.1rem;
    }
    /* END MAIN REGISTER */
}