/* Color palette */
:root {
  --lightblue: #e30428;
  --darkblue: #1d252c;
  --grey: #82869a;
  --lightgrey: #e5e5e5;
  --lightviolet: #a69cf1;
  --strongviolet: rgb(219, 34, 42);
  --fontcolor: #262626;
}
/* footer */

.footer {
  display: flex;
  flex-flow: row wrap;
  padding: 30px 30px 20px 30px;
  color: var(--lightgrey);
  background-color: var(--fontcolor);
  border-top: 1px solid #313131;
}

.footer > * {
  flex: 1 100%;
}

.footer-addr {
  margin-right: 1.25em;
  margin-bottom: 0.5em;
}

.footer-logo {
  font-family: "Courier", cursive;
  font-weight: 400;
  font-size: 20px;
  color: var(--strongviolet);
}

.footer-addr h2 {
  margin-top: 1.3em;
  font-size: 18px;
  font-weight: 400;
}

.footer-addr h2::first-letter {
  color: var(--lightviolet);
  text-decoration: underline;
}

.nav-title {
  font-weight: 400;
  font-size: 15px;
  color: var(--lightviolet);
}

.social-container {
  color: var(--grey);
  padding: 15px 0px;
  width: 100%;
  background-color: var(--fontcolor);
}

.fab {
  font-size: 2em;
  color: var(--grey);
  width: 50px;
  text-decoration: none;
}

.fab:hover {
  color: var(--strongviolet);
}

.footer address {
  font-style: normal;
  color: var(--grey);
}

.footer address i {
  color: var(--lightviolet);
  padding: 5px;
}

.footer-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  max-width: max-content;
  background-color: var(--fontcolor);
  color: var(--grey);
  border: 0.5px solid #e5e5e5;
  border-color: var(--grey);
  line-height: 0;
  margin: 0.8em 0;
  font-size: 1rem;
  padding: 5px 10px;
}

.footer-btn i {
  padding: 5px;
  font-size: 1rem;
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer li {
  line-height: 30px;
}

.footer a {
  text-decoration: none;
}

.footer-nav {
  display: flex;
  flex-flow: row wrap;
}

.footer-nav > * {
  flex: 1 50%;
  margin-right: 1.25em;
}

.nav-ul a {
  color: #999;
}

.nav-ul--extra {
  column-count: 2;
  column-gap: 20px;
}

.legal {
  display: flex;
  flex-wrap: wrap;
  color: #999;
}

.legal__links {
  display: flex;
  align-items: center;
}

.heart {
  color: red;
}
/* MAIN WRAPPER */
.main-wrapper {
  display: flex;
  flex-direction: row;
}

/* NAVBAR CATEGORIES */
.nav__categories {
  display: none;
}
.nav__categories ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
}
.nav__categories ul li {
  padding: 0.3rem;
  width: 150px;
  align-items: stretch;
  cursor: pointer;
  text-align: center;
  background-color: rgb(33, 33, 33);
  margin: 0 3px;
  border-radius: 16px 0 0 0;
}
.nav__categories ul li:hover {
  background-color: var(--strongviolet);
}
.nav__categories__links {
  font-size: 1.3rem;
  line-height: 1.6;
  font-weight: bold;
}

/* MAIN INDEX */
.main__index {
  width: 80vw;
  height: 100vh;
  margin: auto;
}

/* CARDS BEST SELLER */
.bestseller__wrapper {
  padding: 2rem;
}
.bestseller__title {
  font-size: 1.3rem;
  color: var(--strongviolet);
}
.cards__container {
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
  gap: 25px;
}
.card__item {
  max-height: 300px;
  width: 250px;
}
.card__img {
  height: 100%;
}
.card__img img {
  width: 100%;
  height: auto;
  border-radius: 6px;
}
.card__content {
  background-color: rebeccapurple;
}
.card__title {
  padding: 10px;
}
.card__title a {
  color: var(--lightgrey);
  text-decoration: none;
  font-size: 1.3rem;
  text-align: center;
}
@supports (object-fit: cover) {
  .card__item img {
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }
}
/* MEDIA QUERY*/
@media screen and (min-width: 390px) {
  .legal .legal-links {
    margin-left: auto;
  }
}

@media screen and (min-width: 768px) {
  .footer-nav > * {
    flex: 1;
  }

  .nav-item--extra {
    flex-grow: 2;
  }

  .footer-addr {
    flex: 1 0px;
  }

  .footer-nav {
    flex: 2 0px;
  }
  .nav__categories {
    padding-top: 1rem;
    background-color: var(--fontcolor);
    color: #fff;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
  }
  .nav__categories ul {
    padding: 0;
  }
}
@media screen and (min-width: 1200px) {
  .nav__categories {
    justify-content: space-around;
    flex-direction: row;
  }
}
