<footer class="footer">
  <div class="footer-addr">
    <h1 class="footer-logo">ARESHOP</h1>
    <h2>Contacto</h2>

    <address>
      <i class="fas fa-map-marker-alt"></i> Siempre viva 742, Springfield ||
      <i class="fas fa-mobile-alt"></i> 11 1234 5678
      <a class="footer-btn" href="mailto:areshop@gmail.com">Mail: <i class="far fa-envelope"></i>
      </a>
    </address>

    <div class="social-container">
      <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
      <a href="https://www.google.com/intl/es-419/gmail/about/"><i class="fab fa-google-plus"></i></a>
      <a href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a>
    </div>
  </div>

  <ul class="footer-nav">
    <li class="nav-item">
      <h2 class="nav-title">Productos</h2>

      <ul class="nav-ul">
        <li>
          <a href="#">Mas Vendidos</a>
        </li>
        <li>
          <a href="#">Tendencias</a>
        </li>
      </ul>
    </li>

    <li class="nav-item">
      <h2 class="nav-title">Nosotros</h2>

      <ul class="nav-ul">
        <li>
          <a href="#">Envios</a>
        </li>
        <li>
          <a href="#">Ayuda</a>
        </li>
      </ul>
    </li>

    <li class="nav-item">
      <h2 class="nav-title">Info</h2>

      <ul class="nav-ul">
        <li>
          <a href="#">Contacto</a>
        </li>
        <li>
          <a href="#">Privacidad</a>
        </li>
      </ul>
    </li>
  </ul>

  <div class="legal">
    <p>&copy; 2021 Todos los derechos reservados.</p>

    <div class="legal-links">
      <span>Areshop Team</span>
    </div>
  </div>
</footer>