<header>
  <nav class="navbar">
    <img src="/img/areshop_logo2.svg" class="logo" />
    <div class="search">
      <form action="/search" method="POST">
        <input class="search-input" id="search" type="text" placeholder="Buscá tu producto" submit="search" />
        <i class="search-icon fas fa-search"></i>
      </form>
    </div>

    <ul class="main-nav" id="js-menu">
      <li>
        <a href="/login" class="nav-links">
          <span class="nav-text"> Sign In</span>
          <i class="fas fa-sign-in-alt"></i>
        </a>
      </li>
      <li>
        <a href="/register" class="nav-links">
          <i class="fas fa-user-plus"></i>
        </a>
      </li>
      <li>
        <a href="/cart" class="nav-links">
          <i class="fas fa-shopping-cart"></i>
        </a>
      </li>
    </ul>
  </nav>
  <nav class="nav__categories">
    <ul>
      <li>
        <a class="nav__categories__links"> Categorias </a>
      </li>
      <li>
        <a class="nav__categories__links"> Pc </a>
      </li>
      <li>
        <a class="nav__categories__links"> PS4 </a>
      </li>
      <li>
        <a class="nav__categories__links"> PS5 </a>
      </li>
      <li>
        <a class="nav__categories__links"> Xbox </a>
      </li>
      <li>
        <a class="nav__categories__links"> Wii U </a>
      </li>
      <li>
        <a class="nav__categories__links"> Switch </a>
      </li>
    </ul>
  </nav>
</header>