<header>
  <nav class="navbar">
    <img src="/img/areshop_logo2.svg" class="logo" />
    <ul class="main-nav" id="js-menu">
      <li>
        <a href="/login" class="nav-links">
          <span class="nav-text"> Sign In</span>
          <i class="fas fa-sign-in-alt"></i>
        </a>
      </li>
      <li>
        <a href="/" class="nav-links">
          <i class="fa fa-home"></i>
        </a>
      </li>
    </ul>
  </nav>
</header>
