<div class="card__item">
  <div class="card__img">
    <a href="/products/<%= products.id %>">
      <img src="/img/products/<%= products.image %>" alt="" />
    </a>
  </div>
  <div class="card__content">
    <div class="card__title">
      <%= products.name %>
    </div>
  </div>
</div>