<div class="card__item">
  <div class="card__img">
<<<<<<< HEAD
    <a href="/productdetails">
      <img src="/img/products/cover/<%= products.image %>" alt="" />
=======
    <a href="/products/<%= products.id %>">
      <img src="/img/products/<%= products.image %>" alt="" />
>>>>>>> master
    </a>
  </div>
  <div class="card__content">
    <div class="card__title"><%= products.name %></div>
  </div>
</div>
<<<<<<< HEAD
=======

>>>>>>> master
