<!DOCTYPE html>
<html lang="es">

<head>
  <%- include('../partials/head') -%>
    <link rel="stylesheet" href="./css/cart.css" type="text/css" />
</head>

<body class="body__cart">
  <%- include('../partials/header_cart') -%>
    <main class="main__cart">
      <section class="cart__navbar">
        <div class="title">
          <i class="fas fa-shopping-cart"></i><span>Carrito de compras</span>
        </div>
        <div class="button-home">
          <form action="/">
            <button type="submit" value="Go to Home">Seguir Comprando</button>
          </form>
        </div>
      </section>

      <section class="cart__container">
        <div class="cart__item">
          <div class="cart__product__img">
            <img src="/img/products/fifa22_cover.jpg" alt="" />
          </div>
          <div class="cart__content">
            <div class="cart__product__title">
              <span>FIFA 22</span>
            </div>
            <div class="cart__product__rating">
              <span>Rating</span>
            </div>
            <div class="cart__product__category">
              <span>Category</span>
            </div>
            <div class="cart__product__description">
              <span>Description</span>
            </div>
            <div class="cart__product__buy">
              <div class="cart__item__count">
                <button><i class="fas fa-minus"></i></button>
                <input type="text" name="cart-item-count" placeholder="1" />
                <button><i class="fas fa-plus"></i></button>
              </div>
              <div class="cart__item__delete">
                <i class="far fa-trash-alt"></i>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="cart__checkout__container">
        <form action="/cupon-de-descuento">
          <div class="cart__discount">
            <input type="text" name="cart-discount" placeholder="Cupon de descuento" />
            <button type="submit" value="Go to Home">ADD</button>
          </div>
        </form>
        <form action="/buy">
          <div class="cart__checkout__total">
            <span class="checkout__span__name">Total</span>
            <span class="checkout__span__price">$6.555</span>
          </div>
          <div class="cart__checkout">
            <button type="submit" value="Go to Home">COMPRAR</button>
          </div>
        </form>
      </section>
    </main>
    <%- include('../partials/footer') -%>
</body>

</html>