<!DOCTYPE html>
<html lang="es">

<head>
  <%- include('../partials/head') -%>
    <link rel="stylesheet" href="./css/login.css" type="text/css" />
</head>

<body class="body__login">
  <%- include('../partials/header_login') -%>
    <main class="main__login">
      <div class="titulo-registro">Ingresar</div>
      <form action="/home" method="POST" class="registro-form">
        <div>
          <label class="email">EMAIL ADDRESS</label>
          <input type="email" required name="email" placeholder="Username" autocomplete="email" class="relleno">
        </div>
        <div>
          <label class="PASSWORD">PASSWORD</label>
          <input type="password" required name="password" placeholder="Password" autocomplete="current-password"
            class="relleno">
        </div>
        <button type="submit" name="button">SIGN IN</button>
      </form>
    </main>
    <%- include('../partials/footer') -%>
</body>

</html>