<!DOCTYPE html>
<html lang="es">
  <%- include('../head') -%>
  <body>
    <%- include('../header') -%>
    <main>
      <p>REGISTER</p>
    </main>
    <%- include('../footer') -%>
  </body>
</html>
