<!DOCTYPE html>
<html lang="es">
<head>
  <%- include('../partials/head') -%>
  <link rel="stylesheet" href="./css/register.css" type="text/css" />
</head>

<body class="body__register">
<%- include('../partials/header_register') -%>
<main class="main__register">
  <div class="titulo-registro">Registrate</div>
  <form action="/home" method="POST" class="registro-form">
    <div>
      <label class="Nombre">NOMBRE</label>
      <input type="text" name="Nombre">
    </div>
    <div>
      <label class="NICKNAME">NICKNAME </label>
      <input type="text" name="NICKNAME">
    </div>
    <div>
      <label class="EMAIL">EMAIL </label>
      <input type="email" name="EMAIL">
    </div>
    <div>
      <label class="PASSWORD">PASSWORD </label>
      <input type="password" name="PASSWORD">
    </div>
    <button type="submit" name="button">REGISTRAR</button>
  </form>
</main>
<%- include('../partials/footer') -%>
</body>
</html>
